---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import HeaderPage404 from "../components/header-page-404.astro";
import FooterPage404 from "../components/footer-page-404.astro";
import { Image } from "astro:assets";
import notFound from "../assets/page-404/not-found.png";

const notFoundAlt = "Not found";
---

<Layout title="404 Not Found">
  <HeaderPage404 />
  <main class="w-full xl:w-container mx-auto px-4 xl:px-0">
    <h2 class="mt-12 mb-6 text-3xl font-medium text-black-dark dark:text-grey-light">Oops!</h2>
    <p class="mb-8 text-2xl font-normal">
      We can't seem to find the page you're looking for. Go to&nbsp;
      <a href="/" class="font-medium text-blue-link dark:text-pantone">Home</a>.
    </p>
    <div class="mb-8 flex justify-center sm:justify-start">
      <figure
        class="w-75 flex justify-center items-center bg-grey-light rounded-full overflow-hidden"
      >
        <Image
          src={notFound}
          width={notFound.width}
          height={notFound.height}
          alt={notFoundAlt}
          quality="max"
          class="object-cover"
        />
      </figure>
    </div>
    <FooterPage404 />
  </main>
</Layout>
