---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import myPhoto from "../assets/page-resume/my-photo.webp";
import { Image } from "astro:assets";

const myPhotoAlt = "My Photo";
---

<Layout title="Resume">
  <Header />
  <main class="w-full xl:w-container mx-auto mt-24 px-4 xl:px-0">
    <section
      class="w-full mb-16 sm:mb-6 bg-pantone/80 text-center sm:text-start text-black-dark dark:text-grey-light flex flex-col sm:flex-row gap-x-8 items-center scroll-mt-24"
    >
      <figure class="w-48 mt-8 sm:mt-0 flex justify-center items-center">
        <Image
          src={myPhoto}
          width={myPhoto.width}
          height={myPhoto.height}
          alt={myPhotoAlt}
          quality="max"
          class="object-cover"
        />
      </figure>
      <div class="w-full sm:w-3/4 flex flex-col">
        <h2 class="mt-4 text-3xl font-medium">Vitalii Pavlivskyi</h2>
        <h3 class="mb-2 text-xl font-normal">Front End Developer</h3>
        <address>
          <p class="font-medium">Ukraine</p>
          <p class="mb-2">
            <a href="mailto:vitalykdc4704ct@gmail.com">vitalykdc4704ct@gmail.com</a>
          </p>
          <p class="mb-2 sm:mb-0"><a href="tel: +380671742453">+38 (067) 174-2453</a></p>
        </address>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
