<div id="successfully-copied" class="w-full flex invisible fixed bottom-6 justify-center">
    <div class="w-47 h-9 py-2.5 rounded bg-black-dark dark:bg-grey-light text-center text-base delay-700">Successfully copied</div>
 </div>