<div id="successfully-copied" class="w-full flex invisible fixed bottom-6 justify-center">
    <div class="w-47 p-2 rounded bg-black-dark text-grey-light dark:bg-grey-light dark:text-black-dark text-center text-base delay-700">Successfully copied</div>
 </div>