---
---

<footer class="w-full">
  <hr />
  <div class="flex items-center py-2.5">
    <div class="flex gap-x-7 py-0.5">
      <div class="flex gap-x-7 items-center">
        <a href="#">
          <svg
            width="11"
            height="20"
            viewBox="0 0 11 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="social-icons"
              d="M0.322572 10.652H2.51483V19.6774C2.51483 19.8556 2.65922 20 2.8374 20H6.55446C6.73265 20 6.87704 19.8556 6.87704 19.6774V10.6945H9.39722C9.56109 10.6945 9.69896 10.5715 9.71767 10.4088L10.1004 7.08606C10.1109 6.99465 10.082 6.9031 10.0208 6.83452C9.95959 6.76587 9.87198 6.72658 9.78005 6.72658H6.87716V4.64374C6.87716 4.01587 7.21522 3.69748 7.88204 3.69748C7.97707 3.69748 9.78005 3.69748 9.78005 3.69748C9.95824 3.69748 10.1026 3.55303 10.1026 3.3749V0.324968C10.1026 0.146774 9.95824 0.0023871 9.78005 0.0023871H7.16432C7.14587 0.00148387 7.1049 0 7.04451 0C6.59066 0 5.01309 0.0890967 3.76693 1.23555C2.38619 2.506 2.57812 4.02716 2.62399 4.2909V6.72652H0.322572C0.144383 6.72652 0 6.8709 0 7.0491V10.3294C0 10.5075 0.144383 10.652 0.322572 10.652Z"
              fill="none"></path>
          </svg>
        </a>
        <a href="#">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_316_467)">
              <path
                class="social-icons"
                d="M20.031 10C20.031 12.7162 20.0193 13.0568 19.9723 14.1213C19.9253 15.1859 19.7531 15.91 19.5065 16.5479C18.986 17.8904 17.9253 18.955 16.5789 19.4755C15.9449 19.7221 15.2169 19.8943 14.1523 19.9413C13.0838 19.9883 12.7472 20 10.031 20C7.31475 20 6.97425 19.9883 5.90967 19.9413C4.84509 19.8943 4.12102 19.7221 3.48305 19.4755C2.81769 19.225 2.21495 18.8297 1.71397 18.3249C1.20517 17.8239 0.809863 17.225 0.559374 16.5519C0.312799 15.9178 0.140587 15.1859 0.0936205 14.1252C0.0466538 13.0568 0.0349121 12.7202 0.0349121 10.0039C0.0349121 7.28767 0.0466538 6.94716 0.0975344 5.87867C0.144501 4.81409 0.316712 4.09002 0.563288 3.45205C0.813777 2.78669 1.20908 2.18004 1.71789 1.68297C2.21495 1.16634 2.81769 0.778865 3.48697 0.524462C4.12102 0.277886 4.849 0.105675 5.91358 0.0587084C6.98207 0.0117417 7.32258 0 10.0388 0C12.7551 0 13.0956 0.0117417 14.1641 0.0626223C15.2287 0.109589 15.9527 0.2818 16.5907 0.528376C17.256 0.778865 17.8588 1.17417 18.3598 1.67906C18.8725 2.18004 19.2639 2.78278 19.5144 3.45205C19.7609 4.08611 19.9332 4.81409 19.9801 5.87867C20.0271 6.94716 20.031 7.28767 20.031 10Z"
                fill="none"></path>
              <path
                class="instagram-circle"
                d="M10.0374 4.86511C7.19981 4.86511 4.89844 7.16648 4.89844 10.0041C4.89844 12.8416 7.20372 15.1391 10.0374 15.1391C12.875 15.1391 15.1763 12.8377 15.1763 10.0001C15.1763 7.16257 12.875 4.86511 10.0374 4.86511ZM10.0374 13.3348C8.19785 13.3348 6.70274 11.8436 6.70274 10.0001C6.70274 8.1567 8.19394 6.6655 10.0374 6.6655C11.8769 6.6655 13.372 8.1567 13.372 10.0001C13.372 11.8436 11.8808 13.3348 10.0374 13.3348Z"
                fill="none"></path>
              <path
                class="instagram-ellipse"
                d="M16.5789 4.66141C16.5789 5.32286 16.0427 5.85906 15.3812 5.85906C14.7198 5.85906 14.1836 5.32286 14.1836 4.66141C14.1836 3.99997 14.7198 3.46377 15.3812 3.46377C16.0388 3.45985 16.5789 3.99997 16.5789 4.66141Z"
                fill="none"></path>
            </g>
            <defs>
              <clipPath id="clip0_316_467">
                <rect width="20" height="20" fill="#e9e9e9"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  .social-icons {
    fill: #464545;
  }
  .instagram-circle {
    fill: #e9e9e9;
  }
  .instagram-ellipse {
    fill: #e9e9e9;
  }
  :global(.dark) .social-icons {
    fill: #e9e9e9;
  }
  :global(.dark) .instagram-circle {
    fill: #464545;
  }
  :global(.dark) .instagram-ellipse {
    fill: #464545;
  }
</style>
