---
---

<form
    id="form"
    action=""
    method="POST"
    data-netlify="true"
    class="mx-auto flex max-w-4xl flex-col items-center sm:items-start"
>
    <label for="name"></label>
    <input
        type="text"
        id="name"
        name="name"
        pattern="^[a-zA-Z]+(?:(?:\\s+|-)+[a-zA-Z]+)*"
        autocomplete="name"
        required
        minlength="2"
        maxlength="60"
        placeholder="Name"
        class="w-full mb-6 p-3 text-xl text-black-dark invalid:focus:placeholder-pumpkin shadow-lg focus:outline-none border border-pantone dark:border-none"
    />
    <label for="email"></label>
    <input
        type="email"
        id="email"
        name="email"
        autocomplete="email"
        required
        placeholder="Email"
        class="w-full mb-6 p-3 text-xl text-black-dark invalid:focus:placeholder-pumpkin shadow-lg focus:outline-none border border-pantone dark:border-none"
    />
    <label for="message"></label>
    <textarea
        name="message"
        id="message"
        cols="30"
        rows="5"
        placeholder="Your Message"
        autocomplete="on"
        required
        class="w-full mb-6 scrollbar scroll-smooth overscroll-auto py-3 ps-3 text-xl text-black-dark invalid:focus:placeholder-pumpkin shadow-lg focus:outline-none border border-pantone dark:border-none"
    ></textarea>
    <button
        class="w-48 h-14 flex justify-center items-center bg-gradient-45 from-pantone from-10% via-blue-light via-50% to-blue-dark to-90% hover:bg-gradient-45 hover:from-pumpkin hover:from-10% hover:via-orange-light hover:via-50% hover:to-orange-dark hover:to-90% rounded-full border-none text-base font-medium text-pantone hover:text-black-light hover:font-normal"
    >
        Let's Collaborate
    </button>
</form>