---
import ThemeIcon from "./theme.astro";
---

<header id="header" class="w-full flex shadow-md">
  <section class="mx-auto w-full xl:w-container flex justify-between py-3 px-4 xl:px-0">
    <div class="h-8 flex items-center">
      <h1 class="font-bold text-black-dark dark:text-pumpkin hover:pb-0.5"><a href="/">WEB.DEVELOPER</a></h1>
    </div>
    <div class="hidden">
      <ThemeIcon />
    </div>
  </section>
</header>
