---
import ThemeIcon from "./theme.astro";
import HamburgerButtonMobile from "./hamburger-button-mobile.astro";
import HamburgerMenuMobile from "../components/hamburger-menu-mobile.astro";
---

<header id="header" class="w-full fixed top-0 z-30 transition-all shadow-md">
  <section
    class="mx-auto w-full xl:w-container flex justify-between gap-x-2 py-3 px-4 xl:px-0"
  >
    <div class="h-8 flex items-center">
      <h1 class="font-bold text-black-dark dark:text-pumpkin">
        <a href="/">WEB.DEVELOPER</a>
      </h1>
    </div>
    <nav id="nav-links-desktop" class="hidden sm:flex gap-x-2 items-center">
      <a
        href="#hero"
        class="text-base font-light text-black-dark dark:text-grey-light hover:bg-grey-hover dark:hover:text-black-dark rounded-3xl px-2 py-0.5">About</a>
      <a
        href="#skills"
        class="text-base font-light text-black-dark dark:text-grey-light hover:bg-grey-hover dark:hover:text-black-dark rounded-3xl px-2 py-0.5">Skills</a>
      <a
        href="#projects"
        class="text-base font-light text-black-dark dark:text-grey-light hover:bg-grey-hover dark:hover:text-black-dark rounded-3xl px-2 py-0.5">Projects</a>
      <a
        href="#contact"
        class="text-base font-light text-black-dark dark:text-grey-light hover:bg-grey-hover dark:hover:text-black-dark rounded-3xl px-2 py-0.5">Contact</a>
    </nav>
    <div class="w-37 h-8 flex items-center justify-end sm:justify-between">
      <HamburgerButtonMobile />
      <div id="resume-btn" class="hidden sm:flex items-center px-4 sm:px-0">
        <a
          href="resume"
          class="text-base font-light text-black-dark bg-grey-light hover:bg-grey-hover transition-colors delay-150 rounded-3xl px-2 py-0.5"
        >Resume</a>
      </div>
      <div id="home-btn" class="hidden sm:hidden items-center">
        <a
          href="/"
          class="text-base font-light text-black-dark bg-grey-light hover:bg-grey-hover transition-colors delay-150 rounded-3xl px-8 py-0.5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24px"
            height="24px">
            <path
              d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z" fill="#464545"></path></svg>
        </a>
      </div>
      <ThemeIcon />
    </div>
  </section>
  <HamburgerMenuMobile />
</header>

<script>
  // HIDE OR SHOW HEADER
  const header = document.querySelector("#header");
  let prevScrollPosition = window.pageXOffset;

  window.onscroll = function () {
    scroll();
  };

  function scroll() {
    let currentScrollPosition = window.pageYOffset;
    if (prevScrollPosition > currentScrollPosition) {
      header.classList.remove("-top-14");
      header.classList.add("shadow-md");
      header.classList.add("top-0");
    } else if (currentScrollPosition > 0) {
      header.classList.remove("top-0");
      header.classList.remove("shadow-md");
      header.classList.add("-top-14");
    }
    prevScrollPosition = currentScrollPosition;
  }
  // CHANGE HEADER
  const resumeBtn = document.querySelector("#resume-btn");
  const homeBtn = document.querySelector("#home-btn");
  const hamburgerButtonMobile = document.querySelector(
    "#hamburger-button-mobile"
  );
  const navLinksDesktop = document.querySelector("#nav-links-desktop");
  const currentUrl = location.pathname.split("/").splice(1, 1).toString();

  switch (currentUrl) {
    case "resume":
      {
        resumeBtn.classList.remove("sm:flex");
        resumeBtn.classList.add("sm:hidden");
        homeBtn.classList.remove("sm:hidden");
        homeBtn.classList.remove("hidden");
        homeBtn.classList.add("sm:flex");
        homeBtn.classList.add("flex");
        hamburgerButtonMobile.classList.remove("flex");
        hamburgerButtonMobile.classList.add("hidden");
        navLinksDesktop.classList.add("sm:hidden");
      }
      break;
    default: {
      resumeBtn.classList.remove("sm:hidden");
      resumeBtn.classList.add("sm:flex");
      homeBtn.classList.remove("sm:flex");
      homeBtn.classList.add("sm:hidden");
    }
  }
</script>
