---
import PrHoroscopeDesk from "./pr-horoscope-desk.astro";
import PrHoroscopeMob from "./pr-horoscope-mob.astro";
---

<p class="text-sm">Astro Application</p>
<div class="w-full grid grid-cols-6 items-start">
    <div
        class="w-full mb-16 lg:mb-8 hidden sm:grid sm:col-span-6 lg:col-span-4"
    >
        <div class="w-full mb-16 bg-pantone rounded-l-full h-0.5"></div>
        <PrHoroscopeDesk />
    </div>
    <div class="w-full mb-8 grid col-span-6 lg:col-span-2 items-start">
        <div
            class="w-full mb-16 bg-pumpkin rounded-full sm:rounded-r-full h-0.5"
        >
        </div>
        <PrHoroscopeMob />
    </div>
    <div class="w-full grid col-span-6">
        <p class="mb-8 text-sm underline text-center sm:text-start">
            <a href="https://pythia-web.fly.dev/" target="_blank">
                Horoscope demo
            </a>
        </p>
        <p class="underline text-sm text-center sm:text-start">
            <a
                href="https://github.com/Vitalii99/GoroscopeLAYOUT/tree/main/goroscope-layout-static"
                target="_blank"
            >
                Horoscope code
            </a>
        </p>
    </div>
</div>
