---
---

<button
  id="resume-btn-mobile"
  type="button"
  class="w-48 h-14 flex sm:hidden justify-center items-center bg-gradient-45 from-pantone from-10% via-blue-light via-50% to-blue-dark to-90% hover:bg-gradient-45 hover:from-pumpkin hover:from-10% hover:via-orange-light hover:via-50% hover:to-orange-dark hover:to-90% rounded-full border-none text-base font-medium text-pantone hover:text-black-light hover:font-normal"
  >Resume
</button>

<script>
  const resumeBtnMobil = document.querySelector("#resume-btn-mobile");
  const resumeLoadingMobile = document.querySelector("#resume-loading-mobile");

  const redirectOnResumePage = () => {
    // HIDE BUTTON RESUME SHOW LOADING
    resumeLoadingMobile.classList.remove("hidden");
    resumeLoadingMobile.classList.add("flex");
    resumeBtnMobil.classList.remove("flex");
    resumeBtnMobil.classList.add("hidden");
    // BY THREE SECONDS REDIRECT ON RESUME PAGE
    setTimeout(() => {
      location.replace("resume");
    }, 2000);
  };

  resumeBtnMobil &&  resumeBtnMobil.addEventListener("click", redirectOnResumePage);
</script>
