---
interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="bg-theme-light text-black-light dark:text-grey-light sm:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Vitalii Pavlivskyi Portfolio Astro v3 Application" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ffffff"/>
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="m-0 p-0">
    <slot />
  </body>
</html>

<style>
  html.dark {
    background-color: #000000;
    color: #e9e9e9;
  }
</style>
